@charset "utf-8";
/* 
body{
  overflow-x: hidden;
} */
/* 상단 메뉴바 */
.global_nav{
  display: flex;
  position: fixed;
  background-color: #f7f7f7;
  height: 85px;
  width: 100%;
  border-bottom: 2px solid #000;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}
.global_nav .global_menu{
  display: flex;
  height: 85px;
  line-height: 85px;
}
.global_nav .global_menu li{
  text-align: center;
  margin: 0 35px;
  font-family: 'Gmarket Sans TTF';
  font-weight: bold;
  font-size: 20px;
  position: relative;
  z-index: 9999;
}
.global_nav .global_menu li::after{
  background:#5672FF;
  bottom: 40%;
  content: "";
  height: 10%;
  left: 0;
  position: absolute;
  right: 0;
  transform: scaleY(0);
  transform-origin: left bottom;
  transition: all .6s cubic-bezier(.55,0,.1,1);
  z-index: -1;
}
.global_nav .global_menu li:hover::after{
  transform: scale(1);
}
.global_nav .global_menu li:nth-child(4){
  margin-right: 30px;
}
.global_nav .global_icon{
  width: 150px;
  height: 50px;
  background-color: #ddd;
  text-align: center;
  line-height: 50px;
  margin-left: 30px;
}

/* HOME */
header{
  width: 100%;
  height: 965px;
  /* background-color: #ddd; */
  display: flex;
}
header .header_right{
  width: 50%;
  height: 965px;
  background-color: #f7f7f7;
  border-bottom: 2px solid #000;
  position: relative;
}
header .header_left{
  width: 50%;
  height: 965px;
  background-color: #889BF9;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: relative;
}
header .header_left h1{
  font-size: 100px;
  font-family: Anton;
  margin-left: 30px;
}
header .header_left h1:first-child{
  position: absolute;
  bottom: 15%;
}
header .header_left h1:nth-child(2){
  position: absolute;
  bottom: 0;
}
header .header_right img{
  width: 650px;
  height: 650px;
  object-fit: cover;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1.5px solid #000;
}
header .header_right .loading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 220px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}
.progress_bar{
  width: 450px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 100px;
  position: relative;
  overflow: hidden;
  }
  .progress_bar_gauge{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 20px;
    border-radius: 100px;
    background-color: #889BF9;
    animation-name: loading-bar;
    animation-duration: 1600ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    }

/* PROJECT */
  .project_container{
    height: 920px;
    overflow: hidden;
    width: 100%;
  }
  .project_container h2{
    height: 120px;
    line-height: 120px;
    padding-left: 30px;   
    font-size: 45px;
    font-family: 'Gmarket Sans TTF';
    font-weight: bold;
    border-bottom: 2px solid #000;
    background-color: #f7f7f7;
  }
  .project_container .project_box{
    height: 800px;
    display: flex;
    width: 100vw;
  }
  .project_container .project_box .project_box_project{
    border-left: 2px solid #000;
    background-color: #f7f7f7;
    height: 100%;
    width: 25%;
    overflow: hidden;
  }
  .project_container .project_box .project_box_project:nth-child(4){
    border-right: 2px solid #000;
  }
  .project_container .project_box .project_box_project img{
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  .project_container .project_box .project_box_project .project_box_text {
    font-size: 11px;
    font-family: 'Gmarket Sans TTF';
    font-weight: 400;
    padding: 20px 15px;
    margin: 0;
    border-top: 2px solid #000;
    height: 10%;
    
  }
  .project_container .project_box .project_box_project .project_box_text h3{
    font-size: 15px;
    font-family: 'Gmarket Sans TTF';
    font-weight: bold;
    margin-bottom: 10px;
  }

  /* SKILLS */
  .skill_container{
    height: 1520px;
    background-color: #f7f7f7;
  }
  .skill_container h2{
    height: 120px;
    line-height: 120px;
    padding-left: 30px;   
    font-size: 45px;
    font-family: 'Gmarket Sans TTF';
    font-weight: bold;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;

  }
  .skill_container .skill-box{
    height: 350px;
    /* border-top: 2px solid #000; */
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .skill_container .skill-box h1{
    font-family: 'Anton';
    font-size: 90px;
    margin-left: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;;
  }
  .skill_container .skill-box h1::before{
    background:#5672FF;
    bottom: 10%;
    content: "";
    height: 30%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: left bottom;
    transition: all .6s cubic-bezier(.55,0,.1,1);
  }
  .skill_container .skill-box h1:hover::before {
    transform: scale(1)
  }
  .skill_container .skill-box ul{
    margin-right: 30px;
    font-family: 'Gmarket Sans TTF';
    font-weight: 400;
    font-size: 25px;
  }
  .skill_container .skill-box ul li{
    width: 640px;
    margin: 10px 0
  }

  /* ABOUT */
  .about_container{
    height: 740px;
    background-color: #f7f7f7;
  }
  .about_container h3{
    height: 120px;
    line-height: 120px;
    /* padding-left: 30px; */
    text-align: center;
    font-size: 45px;
    font-family: 'Gmarket Sans TTF';
    font-weight: bold;
    border-bottom: 2px solid #000;
  }
  .about_container .about_box{
    display: flex;
  }
  .about_container .about_box .about_box_left{
    width: 50%;
    height: 620px;
    background-color: #889BF9;
    border: 2px solid #000;
  }
  .about_container .about_box .about_box_right{
    width: 50%;
    height: 620px;
    background-color: #fff;
    border: 2px solid #000;
  }

  /* CONTACT */
  footer{
    height: 1000px;
    background-color: #000;
    color: #fff;
    position: relative;

  }
  footer h1{
    text-align: center;
    font-family: 'Gmarket Sans TTF';
    font-weight: bold;
    font-size: 80px;
    margin-top: 30px;
  }
  footer h2{
    height: 120px;
    line-height: 120px;
    padding-left: 30px;   
    font-size: 45px;
    font-family: 'Gmarket Sans TTF';
    font-weight: bold;
    border-bottom: 2px solid #000;
    background-color: #f7f7f7;
    color: #000;
  }
  footer .footer_contact{
    position: absolute;
    /* top: 50%; */
    bottom: 10%;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 30px;
  }
  footer .footer_contact li{
    font-family: 'Gmarket Sans TTF';
    font-weight: bold;
    font-size: 20px;
    width: 200px;
    height: 70px;
    border-radius: 40px;
    color: #000;
    background-color: #fff;
    text-align: center;
    line-height: 70px;
    margin: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    cursor: pointer;
  }
  footer .footer_contact li img{
    width: 35px;
    height: 35px;
    object-fit: cover;
  }
  footer .footer_contact li a{
    display: inline-block;
    z-index: 99999;
  }
  footer .footer_contact li::before{
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 40px;
  }
  footer .footer_contact li, footer .footer_contact li::before{
    transition: all .6s cubic-bezier(.55,0,.1,1);
  }
  footer .footer_contact li:hover::before {
    opacity: 1;
    transform: translate(-.4rem,.4rem)
}
  footer .footer_contact li:hover {
  transform: translate(.4rem,-.4rem);
}

  footer .about{
    display: flex;
    padding: 80px 50px;
    justify-content: space-around;
    align-items: normal;
  }
  footer .about .about_left_txt{
    
  }
  footer .about_left_txt h3{
    font-size: 80px;
    font-family: 'Gmarket Sans TTF';
    font-weight: bold;
  }
  footer .about_left_txt h3 strong{
    color: #5672FF;
  }
  footer .about_left_txt span{
    font-size: 35px;
    font-family: 'Gmarket Sans TTF';
    font-weight: bold;
  }
  footer .about_left_txt p{
    font-size: 30px;
    font-family: 'Gmarket Sans TTF';
    font-weight: light;
  }
  footer .about_right_txt h3{
    font-size: 45px;
    font-family: 'Gmarket Sans TTF';
    font-weight: medium;
    border-bottom: 2px solid #fff;
    width: 600px;
    padding: 10px 25px;
  }
   footer .about_right_txt .profile{
    font-size: 27px;
    font-family: 'Gmarket Sans TTF';
    font-weight: 300;
   }
   footer .about_right_txt .profile li{
    display: flex;
    width: 600px;
    padding: 10px 25px;
    justify-content: space-between;
   }
   footer .about_right_txt .profile p{
    text-align: right;
   }