@charset "utf-8";

@media (width <= 390px) {
  /* 최상위 영역 */
  header {
    height: 665px;
    width: 100%;
    background-color: #00a1e1;
    position: relative;
  }
  header img {
    width: 75px;
    height: 25px;
    position: absolute;
    left: 2%;
    top: 30px;
  }
  header ul {
    position: absolute;
    right: 3%;
    top: 3%;
    font-family: Nexon Lv2 Gothic;
    font-weight: 700;
    font-size: 18px;
  }
  header ul li {
    border-bottom: 1.5px solid black;
    text-align: right;
    width: 120px;
    padding: 10px 0 10px 10px;
  }
  header h1 {
    position: absolute;
    top: 286px;
    left: 20px;
    font-family: Nexon Lv2 Gothic;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.8;
    color: #000;
    position: fixed;
    white-space: nowrap;
  }
  header h1 strong {
    color: #fff;
  }
  header h2 {
    position: absolute;
    bottom: 0;
    font-family: pretendard;
    font-weight: 900;
    font-size: 65px;
    color: #fff;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    line-height: 0.7;
    margin: 0;
  }
  /* Main 1 */
  .main1 {
    height: 590px;
    width: 100%;
    position: relative;
  }

  .main1-box {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main1-box li {
    font-family: Nexon Lv2 Gothic;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    position: relative;
    background-color: #000;
    color: #fff;
    line-height: 55px;
    padding: 5px;
    border-radius: 1.5em;
    width: 345px;
    height: 60px;
    margin: 20px auto;
  }
  .main1-box li::after {
    content: '';
    position: absolute;
    bottom: -30%;
    left: 10%;
    width: 0;
    height: 0;
    border: 33px solid transparent;
    border-left: 33px solid #000;
    border-top: 0px;
  }
  .main1-box li:nth-child(2)::after {
    content: '';
    position: absolute;
    bottom: -30%;
    left: 72%;
    width: 0;
    height: 0;
    border: 33px solid transparent;
    border-right: 33px solid #000;
    border-top: 0px;
  }
  .main1 .main-txt-box {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-family: Nexon Lv2 Gothic;
    text-align: center;
    font-size: 30px;
    width: 300px;
  }
  .main-txt-box h1,
  h2 {
    font-weight: 700;
    margin-top: 15px;
  }
  .main-txt-box h2::after {
    content: '';
    display: inline-block;
    background-image: url(../Project1/images/넥슨\ 로고.png);
    background-size: 100%;
    width: 100px;
    height: 80px;
    vertical-align: middle;
    transform: translateX(-20%);
    position: fixed;
    bottom: -25%;
    object-fit: cover;
  }

  /* Main2 */
  .main2 {
    width: 100%;
    height: 600px;
  }
  .main2 ul {
    margin-top: 30px;
  }
  .main2 ul li {
    font-family: Nexon Lv2 Gothic;
    font-weight: 700;
    font-size: 25px;
    margin-top: 25px;
    text-align: center;
  }
  .main2 .point li {
    width: 10px;
    height: 10px;
    background-color: #8d8d8d;
    border-radius: 50%;
    margin: 40px auto;
  }
  .main2 .main2-txt strong {
    background-color: rgba(0, 161, 225, 30%);
  }
  /* Game */
  .game-box {
    background-color: #000;
    color: #fff;
    height: 1450px;
  }
  .game-box .game-grid {
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .game-img-box p {
    color: #00a1e1;
    font-family: Nexon Lv2 Gothic;
    font-weight: 400;
    font-size: 10px;
    margin-top: 3px;
  }
  .game-img-box h2 {
    font-family: Nexon Lv2 Gothic;
    font-weight: 700;
    font-size: 18px;
  }
  .game-img-box img {
    width: 165px;
    height: 165px;
    border-radius: 10px;
    object-fit: cover;
  }
  .game-box .game-img-box {
    width: 165px;
    height: 250px;
  }
  .game-box .game-btn {
    background-color: #242424;
    font-family: pretendard;
    font-size: 13px;
    font-weight: 400;
    width: 120px;
    height: 30px;
    line-height: 30px;
    margin: 30px auto;
    text-align: center;
    border-radius: 5px;
  }

  /* Review-box */
  .review-box {
    background-color: #f2f2f2;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .review-box .nexon-box {
    display: flex;
    justify-content: space-evenly;
    font-family: Nexon Lv2 Gothic;
    font-size: 15px;
    font-weight: 700;
    margin-right: 15px;
  }
  .review-box .nexon-box .nexon-txt-box {
    background-color: #fff;
    width: 290px;
    height: 115px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .review-box .nexon-box .nexon-txt-box h2 {
    font-family: Nexon Lv2 Gothic;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }
  .review-box .nexon-box .nexon-txt-box h1 {
    font-family: Nexon Lv2 Gothic;
    font-size: 21px;
    font-weight: 700;
  }
  .review-box .user-box .user-txt-box p {
    font-family: pretendard;
    font-size: 15px;
    font-weight: 200;
  }
  .review-box .user-box .user-txt-box h2 {
    font-family: pretendard;
    font-weight: 700;
    font-size: 20px;
  }
  .user-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px auto;
  }
  .user-box:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  .user-box .user-txt-box {
    width: 290px;
    height: 230px;
    border-radius: 20px;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .user-box img {
    width: 100px;
    margin-left: 20px;
  }
  .user-box .user-txt-box h2 {
    width: 250px;
    margin: 10px auto;
  }
  .user-box .user {
    font-family: Nexon Lv2 Gothic;
    font-size: 15px;
    font-weight: 700;
  }
  .user-box .user-txt-box p {
    width: 250px;
    margin: 5px auto;
    font-family: Nexon Lv2 Gothic;
    font-size: 13px;
    font-weight: 400;
  }

  /* Logo */
  .logo-box {
    height: 300px;
    position: relative;
    text-align: center;
    padding-top: 20px;
  }
  .logo-box p {
    font-family: Nexon Lv2 Gothic;
    font-size: 15px;
    font-weight: 400;
  }
  .logo-box h2 {
    font-family: Nexon Lv2 Gothic;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .logo-box span {
    color: #00a1e1;
    font-family: Nexon Lv2 Gothic;
    font-size: 23px;
    font-weight: 700;
  }
  .logo-img-box ul {
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .logo-img-box img {
    width: 100px;
  }
  .logo-box .logo-txt {
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
  }
  /* Footer */
  footer {
    background-color: #000;
    height: 300px;
  }
  footer h1 {
    color: #c3d600;
    font-family: pretendard;
    font-weight: 700;
    font-size: 40px;
  }
  footer h2 {
    color: #fff;
    font-family: pretendard;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
  }
  footer .footer-txt {
    margin-top: 50px;
    margin-left: 25px;
    transform: translateY(20%);
  }
  footer menu {
    display: flex;
    color: #fff;
    font-family: pretendard;
    font-weight: 700;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 25px;
    transform: translateY(100%);
  }
  footer menu li {
    margin-right: 15px;
  }
}
