@charset "utf-8";

body{
  background-color: #FAFAFA;
  position: relative;
}
/* 상단 메뉴바 */
.global_nav{
  display: flex;
  position: fixed;
  background-color: #FAFAFA;
  height: 4.3vw;
  width: 100%;
  border-bottom: 2px solid #000;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}
.global_nav .global_menu{
  display: flex;
  height: 4.3vw;
  line-height: 4.3vw;
}
.global_nav .global_menu li{
  text-align: center;
  margin: 0 1.8vw;
  font-family: 'Gmarket Sans TTF';
  font-weight: bold;
  font-size: 1.010vw;
  position: relative;
  z-index: 9999;
}
.global_nav .global_menu li::after{
  background:#5672FF;
  bottom: 40%;
  content: "";
  height: 10%;
  left: 0;
  position: absolute;
  right: 0;
  transform: scaleY(0);
  transform-origin: left bottom;
  transition: all .6s cubic-bezier(.55,0,.1,1);
  z-index: -1;
}
.global_nav .global_menu li:hover::after{
  transform: scale(1);
}
.global_nav .global_menu li:nth-child(4){
  margin-right: 1.5152vw;
}
.global_icon img{
  width: 5vw;
  height: 5vw;
  object-fit: cover;
  margin: 0 1vw;
}

/* header */
header{
  display: flex;
  height: 30vw;
  border-bottom: 0.101vw solid #000;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding: 15vw;
}
header .header_wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 25vw;
  position: absolute;
  bottom: 0%;
}
header .header_right{
  display: flex;
}
header .header_right img{
  width: 10.101vw;
  height: 17.677vw;
  object-fit: contain;
}
header .header_left{
  font-family: 'Gmarket Sans TTF';
}
header .header_left h1{
  font-size: 5.351vw;
  font-weight: bold;
  margin-bottom: 0.505vw;
}
header .header_left p{
  font-size: 1.1vw; /* 18px */
  font-weight: 500;
  margin-bottom: 1.515vw;
}
header .header_left ul{
  display: flex;
  font-size: 0.9vw; /* 15px */
  font-weight: 300;
  flex-wrap: wrap;
  width: 28vw;
}
header .header_left ul li{
  border: 2px solid #000;
  border-radius: 30px;
  padding: 0.505vw 1.263vw;
  margin: 0.253vw 0.505vw;
}
header .tag li:first-child{
  margin: 0.253vw 0;
}
header .tag li:nth-child(4){
  margin: 0.253vw 0;
}

/* OverView */
.overview{
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10vw;
}
.overview h2{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 2.7vw;
  font-weight: 900;
  position: relative;
  height: 3.3vw;
}
.overview h2::after{
  background: rgba(86, 114, 255, 60%);
  bottom: 10%;
  content: "";
  height: 40%;
  left: 0;
  position: absolute;
  right: 0;
  transform-origin: left bottom;
  transition: all .6s cubic-bezier(.55,0,.1,1);
  z-index: -1;
}
.overview .overview-list{
  font-family: 'Gmarket Sans TTF';
  width: 40.404vw;
  padding-top: 1.515vw;
}
.overview .overview-list h3{
  font-size: 1.2vw;
  font-weight: 700;
  color: #5672ff;
  /* margin-bottom: 40px; */
}
.overview .overview-list li{
  margin-bottom: 5.051vw;
}
.overview .overview-list li p{
  font-size: 1.1vw; /* 18px */
  font-weight: 300;
  line-height: 150%;
  width: 35.928vw;
  margin: 0.505vw 0;
  margin-bottom: 30px;
  line-height: 160%;
}
.overview .overview-list li:first-child p{
  margin: 0.505vw 0;
  margin-bottom: 1.515vw;
}

/* Problem&Solution */
.problem{
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10vw;
}
.problem h2{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 2.7vw;
  font-weight: 900;
  position: relative;
  height: 3.3vw;
}
.problem h2::after{
  background: rgba(86, 114, 255, 60%);
  bottom: 10%;
  content: "";
  height: 40%;
  left: 0;
  position: absolute;
  right: 0;
  transform-origin: left bottom;
  transition: all .6s cubic-bezier(.55,0,.1,1);
  z-index: -1;
}
.problem .problem-list{
  font-family: 'Gmarket Sans TTF';
  width: 41.404vw;
  padding-top: 1.515vw;
}
.problem .problem-list h3{
  font-size: 1.2vw;
  font-weight: 700;
  color: #5672ff;
}
.problem .problem-list li{
  margin-bottom: 5.051vw;
}
.problem .problem-list li p{
  font-size: 1.1vw; /* 18px */
  font-weight: 300;
  line-height: 160%;
  margin: 0.505vw 0;
  margin-bottom: 1.515vw;
}
.problem .problem-list li:first-child p{
}

/* Ux Vision */
.ux{
  width: 90%;
  padding: 10vw;
  margin: 0 auto;
}
.ux h2{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 2.7vw;
  font-weight: 900;
  position: relative;
  height: 3.3vw;
  width: 13vw;
}
.ux h2::after{
  background: rgba(86, 114, 255, 60%);
  bottom: 10%;
  content: "";
  height: 40%;
  left: 0;
  position: absolute;
  right: 0;
  transform-origin: left bottom;
  transition: all .6s cubic-bezier(.55,0,.1,1);
  z-index: -1;
}
.ux p{
  font-size: 2.008vw;
  font-family: 'Gmarket Sans TTF';
  font-weight: 500;
  width: 52.155vw;
  position: relative;
  margin: 0 auto;
  margin-top: 9.596vw;
}
.ux p::after{
  background: rgba(86, 114, 255, 60%);
  bottom: 10%;
  content: "";
  height: 40%;
  left: 0;
  position: absolute;
  right: 0;
  transform-origin: left bottom;
  transition: all .6s cubic-bezier(.55,0,.1,1);
  z-index: -1;
}

/* Design */
.design{
  width: 90%;
  padding: 5vw 10vw;
  margin: 0 auto;
}
.design h2{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 2.7vw; /* 45px */
  font-weight: 900;
  position: relative;
  height: 3.3vw;
  width: 15.2vw;
}
.design h2::after{
  background: rgba(86, 114, 255, 60%);
  bottom: 10%;
  content: "";
  height: 40%;
  left: 0;
  position: absolute;
  right: 0;
  transform-origin: left bottom;
  transition: all .6s cubic-bezier(.55,0,.1,1);
  z-index: -1;
}
.design_img{
  display: flex;
  margin: 4.040vw auto;
  width: 80%;
}
.design_img img{
  width: 10.101vw;
  height: 25.253vw;
  object-fit: contain;
  margin-right: 9.091vw;
}
.design-list{
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.design-list h3{
  font-family: 'Gmarket Sans TTF';
  font-size: 1.5vw;
  font-weight: 700;
}
.design-list li{
  margin-right: 6.061vw;
}
.design-list li:nth-child(3){
  margin-right: 0;
}
.keyword span{
  font-family: 'Gmarket Sans TTF';
  font-size: 1.2vw;
  font-weight: 300;
  width: 5.051vw;
  height: 5.051vw;
  border: 1px solid #000;
  border-radius: 50%;
  display: block;
  line-height: 5.051vw;
  text-align: center;
  margin-right: 1.515vw;
}
.keyword .circle{
  display: flex;
  margin-top: 2.020vw;
  margin-left: 1.768vw;
}
.color span{
  width: 4.545vw;
  height: 4.545vw;
  border-radius: 50%;
  display: block;
  text-indent: -9999px;
  background-color: #6B99CF;
  margin-top: 2.020vw;
  margin: 0 auto;
}
.color span:first{
  margin-left: 0;
}
.color .color-circle{
  display: flex;
  flex-wrap: wrap;
  width: 24.242vw;
  justify-content: space-between;
  text-align: center;
  margin-top: 2.020vw;
}
.color .color-text{
  display: flex;
  flex-wrap: wrap;
  width: 24.242vw;
  justify-content: space-around;
  text-align: center;
  margin-top: 0.758vw;
  font-family: 'Gmarket Sans TTF';
  font-weight: 300;
}
.color .color-circle p{
  text-align: center;
  width: 5.051vw;
  height: 5.051vw;
  margin-top: 0.505vw;
  margin-right: 2.525vw;
  font-family: 'Gmarket Sans TTF';
  font-size: 0.9vw;
  font-weight: 300;
  margin: 0 auto;
}
.color span:nth-child(2){background-color: #F9F2EB;}
.color span:nth-child(3){background-color: #333333;}

.typo .typo-list img{
  width: 6.566vw;
  height: 9.343vw;
  object-fit: contain;
}
.typo .typo-list{
  margin-top: 2.020vw;
  display: flex;
  margin-left: 1.7677vw;
  align-items: center
}
.typo .typo-list ul{
  margin-left: 2.2727vw;
  width: 6.0606vw;
}
.typo .typo-list ul li{
  margin: 10px 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
}
.typo .typo-list ul li:nth-child(2){font-weight: 500;}
.typo .typo-list ul li:nth-child(3){font-weight: 600;}
.typo .typo-list ul li:nth-child(4){font-weight: 700;}

/* Wire Frame */
.wire{
  width: 90%;
  padding: 5vw 10vw;
  margin: 0 auto;
  margin-top: 20vw;
}
.wire-list .wire-main img{
  width: 11.6vw;
  object-fit: cover;
  margin: 0 0.5vw;
}
.wire h2{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 2.7vw;
  font-weight: 900;
  position: relative;
  height: 3.178vw;
  width: 15.279vw;
}
.wire h2::after{
  background: rgba(86, 114, 255, 60%);
  bottom: 10%;
  content: "";
  height: 40%;
  left: 0;
  position: absolute;
  right: 0;
  transform-origin: left bottom;
  transition: all .6s cubic-bezier(.55,0,.1,1);
  z-index: -1;
}
.wire .wire-list{
  margin: 4.040vw auto;
}
.wire .wire-list .wire-main{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5.051vw 0;
}
.wire .wire-list .wire-main:first-child{
  margin-top: 5.051vw;
}
.wire-list .wire-main ul{
  margin: 0 3.3vw;
  font-family: 'Gmarket Sans TTF';
  width: 50.253vw;
}
.wire-list .wire-main h3{
  font-size: 1.2vw;
  font-weight: 700;
  color: #5672ff;
}
.wire-list .wire-main p{
  line-height: 160%;
  font-size: 1.1vw;
  font-weight: 300;
  margin-top: 0.505vw;
}
.wire-list .library{
  flex-direction: row-reverse;
}
/* Review */
.review{
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10vw;
  padding-top: 10vw;
  padding-bottom: 20vw;
  position: relative;
}
.review h2{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 2.7vw;
  font-weight: 900;
  position: relative;
  height: 2.7778vw;
}
.review h2::after{
  background: rgba(86, 114, 255, 60%);
  bottom: 10%;
  content: "";
  height: 40%;
  left: 0;
  position: absolute;
  right: 0;
  transform-origin: left bottom;
  transition: all .6s cubic-bezier(.55,0,.1,1);
  z-index: -1;
}
.review .review-list{
  font-family: 'Gmarket Sans TTF';
  width: 45.404vw;
  padding-top: 1.515vw;
}
.review .review-list h3{
  font-size: 1.2vw;
  font-weight: 700;
  color: #5672ff;
}
.review .review-list li{
  margin-bottom: 4.404vw;
}
.review .review-list li p{
  font-size: 1.1vw;
  font-weight: 300;
  line-height: 160%;
  margin: 1.5152vw 0;
  margin-top: 0.505vw;
}
.review .review-list li:nth-child(3){
  margin: 1.2626vw 0;
}
.btn_box{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2%;
}
.btn{
  font-family: 'Gmarket Sans TTF';
  font-weight: 700;
  border: 2px solid #000;
  /* background-color: #ddd; */
  border-radius: 60px;
  width: 15.101vw;
  height: 3.535vw;
  line-height: 3.535vw;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1%;
  z-index: 99999;
  cursor: pointer;
}
.material-symbols-outlined {
font-size: 3.3vw;
text-align: center;
 border: 1px solid #000;
 border-radius: 50%;
 display: block;
 width: 3.535vw;
 height: 3.535vw;
 background-color: #fff;
 cursor: pointer;
}
.moveTop{
  position: fixed;
  bottom: 5%;
  right: 5%;
}
.btn:hover{
  background-color: rgba(86, 114, 255, 60%);;
  color: #fff;
}